@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
a {
    text-decoration: none;
    color: #000;
    transition: all 0.3s;
}
.text-right {
    text-align: right;
}
.text-color-red {
    color: #dc3545;
}
.text-color {
    color: #C30E0E;
}
.warning {
    color: #EA7000;
}
.success {
    color: #00A611;
}
.info {
    color: #0F5BED;
}
p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.text-center {
    text-align: center;
}
a:hover {
    color: #DC3545;
}
.btnBgWhite {
    color: #C30E0E;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    border: 1px solid #C30E0E;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 8px;
}
.btnBgWhite:hover {
    color: #fff;
    background: #C30E0E;
}
.btnDefault {
    color: #333;
    background: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    border: 1px solid #333;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 8px;
}
.btnBgRed {
    color: #fff;
    background: #C30E0E;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    border: 1px solid #C30E0E;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 8px;
}
.btnBgRed:hover {
    color: #fff;
    background: #9e0505;
}

input[type='file'] {
    display: none;
}
section {
    padding: 50px 0;
    position: relative;
}
section.banner .container .title {
    color: #fff;
}
section .container .title {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    color: #9C0B0B;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.displayTable {
    display: table;
    width: 100%;
}
.displayTableCell {
    display: table;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
textarea:focus, input:focus, select:focus{
    outline: none;
}
.transition {
    transition: all 0.3s;
}
.container-fluid {
    max-width: 1440px;
}
.topHeader {
    padding: 20px;
    background-color: #F8F9FA;
}
.topHeader .phone {
    margin: 0 20px;
}
.topHeader .phone a,.topHeader .email a {
    text-decoration: underline;
}
.account {
    display: flex;
    color: #000;
    cursor: pointer;
}
.account .fullName {
    padding-left: 10px;
    font-size: 13px;
}
.lang {
    padding: 8px;
    display: inline-block;
    font-weight: 600;
}
.lang.active {
    color: #9c0b0b;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #0000008f;
    left: 0;
    top: 0;
    z-index: 10;
    display: none;
}
.popup .container-popup {
    max-width: 600px;
}
.popup .box {
    position: relative;
    padding: 30px 28px;
    background: #fff;
    border-radius: 10px;
    margin-top: 100px;
    box-shadow: 0 0 5px #464646;
}
.popup .box .fa-xmark {
    position: absolute;
    right: 5px;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    padding: 7px;
    text-align: center;
    cursor: pointer;
    top: 5px;
    box-shadow: 0 0 5px #333;
}
.popup .title {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    color: #9c0b0b;
    margin-bottom: 25px;
}
.popup .popupTable {
    width: 100%;
}
.popup .popupTable th,.popup .popupTable td {
    padding: 7px 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.popup .box .btnSubmit {
    border: 0;
    background: #C30E0E;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 5px;
}
main {
    display: flex;
    width: 100%;
}
main .navMenu {
    width: 350px;
    height: 100vh;
    box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.08);
    padding: 15px;
    background-image: url(../../public/image/bg-admin.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}
main .navMenuMobile {
    position: fixed;
    background: #fff;
    z-index: 1;
    width: 300px;
    left: -300px;
}
main .navMenuMobile.show {
    left: 0;
}
main .navMenu .menu {
    list-style-type: none;
    margin-top: 40px;
}
main .navMenu .menu .item {
    position: relative;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
    margin-bottom: 20px;
}
main .navMenu .menu .item.active > a {
    color: #C30E0E;
}
main .navMenu .menu .item.active .subMenu {
    display: block;
}
main .navMenu .menu .item.active .fa-chevron-right {
    transform: rotate(90deg);
}
main .navMenu .menu .item i {
    position: absolute;
    left: -27px;
    top: 1px;
    font-size: 17px;
}
main .navMenu .menu .item > .fa-chevron-right {
    position: absolute;
    left: calc(100% - 15px);
    top: 5px;
    font-size: 13px;
    color: #a6a6a6;
}
main .navMenu .menu .subMenu {
    display: none;
}
main .navMenu .menu .subMenu .subItem {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    list-style: disc;
}
main .navMenu .menu .subMenu .subItem a {
    display: block;
    padding: 8px 0;
}
main .page {
    width: 100%;
    background: #F8F9FA;
}
main .page .pageHeader {
    background: #fff;
    padding: 10px 20px;
    border-left: 1px solid whitesmoke;
}
main .page .pageHeader .headerLeft {
    display: flex;
}
main .page .pageHeader .headerLeft > i {
    font-size: 25px;
    padding: 8px 0;
    margin-right: 20px;
}
main .page .pageHeader .headerLeft .boxSearch {
    position: relative;
}
main .page .pageHeader .headerLeft input {
    border-bottom: 1px solid #d1d1d1 !important;
    border: none;
    text-indent: 25px;
    font-size: 14px;
    height: 35px;
    width: 250px;

}
main .page .pageHeader .headerLeft .boxSearch .fa-magnifying-glass {
    position: absolute;
    font-size: 14px;
    top: 10px;
    left: 2px;
    transform: rotate(100deg);
}
main .page .pageHeader .accountBox {
    padding: 0;
    display: flex;
    margin: 0;
}
main .page .pageHeader .accountBox li {
    list-style: none;
    margin-left: 15px;
    position: relative;
}
main .page .pageHeader .accountBox li .notify {
    position: absolute;
    font-size: 9px;
    background: red;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    padding: 2px;
    right: 2px;
    top: 2px;
}
main .page .pageHeader .accountBox li .fa-bell {
    padding: 11px;
    font-size: 18px;
    cursor: pointer;
}
main .page .pageHeader .accountBox li .account {
    display: table;
}
main .page .pageHeader .accountBox li .account {
    display: table;
}
main .page .pageHeader .accountBox li .account .atvBox {
    display: table-cell;
    vertical-align: middle;
    width: 50px;
}
main .page .pageHeader .accountBox li .account .atvBox img {
    width: 40px;
}
main .page .pageHeader .accountBox li .account .info {
    display: table-cell;
    vertical-align: middle;
}
main .page .pageHeader .accountBox li .account .info h5 {
    font-size: 14px;
    margin-bottom: 0;
}
main .page .pageHeader .accountBox li .account .info p {
    font-size: 13px;
    margin-bottom: 0;
    line-height: 17px;
    color: #707070;
}
.pageContent {
    padding: 20px 30px;
}
.pageContent h1 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    color: #9C0B0B;
}
.pageContent .tblBox {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
}
.pageContent .tblBox select {
    width: 100%;
    height: 30px;
    font-size: 14px;
    padding: 0 10px;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
}
.pageContent .tblBox .tbl {
    margin-top: 20px;
}
.pageContent .tblBox .tbl th,
.pageContent .tblBox .tbl td {
    padding: 15px;
}
.pageContent .tblBox .tbl i {
    cursor: pointer;
}
.pageContent .tblBox .tbl th .fa-sort {
    color:#999;
}
.pageContent .tblBox .tbl td .fa-trash-can {
    margin: 0 7px;
}
.pagination {
    display: flex;
    margin-top: 10px;
}
.pagination .pagiList {
    padding-left: 10px ;
}
.pagination .pagiList li {
    display: inline-block;
}
.pagination .pagiList li a {
    display: inline-block;
    padding: 0 7px;
    line-height: 16px;
    font-weight: 400;
}
.pagination .pagiList li a.active{
    color: #CF3E3E;
    font-weight: 600;
}
@media only screen and (max-width: 567px) {
    
}